extends layout

block content
	h1= title
	form#formNewSecret(name="newsecret",method="post",action="/admin/secrets")
		input#inputSecret(type="text",placeholder="Secret",name="secret")
		br
		input#inputNote(type="text",placeholder="Note",name="note")
		br
		button#btnSubmit(type="submit") Submit
		ul
			each secret in secretlist
				li
					p #{secret.secret} | #{secret.note} | #{moment(secret.last_access).format("YYYY MMMM Do, HH:mm:ss")} | 
						a(href='/admin/visits/'+secret._id) Visits
